R2_ACCESS_KEY_ID=xxx
R2_SECRET_ACCESS_KEY=xxxxxx
R2_BUCKET_NAME=xxx
R2_ENDPOINT=https://xxx.r2.cloudflarestorage.com
R2_REGION=auto
R2_IMAGE_BASE_URL=https://xxx.com
R2_IMAGE_DIR=xxx
# 仅控制预览图，原图不会修改。长边不超过 960px，小图不放大。
IMAGE_COMPRESSION_QUALITY=80
PREVIEW_MAX_EDGE=960
