body {
    font-family: Arial, sans-serif;
    display: flex;
    flex-direction: column;
    align-items: center;
}

h1 {
    margin: 20px 0;
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    gap: 10px;
    width: 80%;
    max-width: 1200px;
    margin: auto;
}

.gallery img {
    width: 100%;
    object-fit: cover;
    border-radius: 5px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    cursor: pointer;
}

.column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 10px;
}

/* Modal styles */
.modal {
    display: none;
    position: fixed;
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: rgba(0, 0, 0, 0.9);
}

.modal-content {
    margin: auto;
    margin-top: 5%; /* Top margin */
    display: block;
    max-width: 90%;
    max-height: 80%; /* Adjust to accommodate caption and exif-info */
    width: auto;
    height: auto;
}

.close {
    position: absolute;
    top: 15px;
    right: 35px;
    color: #fff;
    font-size: 40px;
    font-weight: bold;
    transition: 0.3s;
}

.close:hover,
.close:focus {
    color: #bbb;
    text-decoration: none;
    cursor: pointer;
}

#caption, #exif-info {
    margin: auto;
    display: block;
    width: 90%;
    max-width: 700px;
    text-align: center;
    color: #ccc;
    padding: 10px 0;
}

/* Disable scrolling */
.no-scroll {
    overflow: hidden;
}
